<div class="card mb-3">
  <h2 class="card-header h4">
    Furniture #<%= furniture.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Title</dt>
      <dd><%= furniture.title %></dd>

      <dt>Photo</dt>
      <dd>
        <%= cl_image_tag @furniture.photo, class: "img-fluid" %>
      </dd>

      <dt>Category</dt>
      <dd><%= furniture.category %></dd>

      <dt>Price</dt>
      <dd><%= furniture.price %></dd>

      <dt>Google map</dt>
      <dd>
        <div>
          <%= render partial: "furnitures/one_photo_map" %>
        </div>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @furniture.user.present? %>
          <%= link_to furniture.user, furniture.user %>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd>
        <% if @furniture.status.present? %>
          <%= link_to furniture.status, furniture.status %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back furniture, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_furniture_url(furniture), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to furniture, method: :delete, data: { confirm: "Do you really want to delete this furniture?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(furniture.updated_at) %> ago
  </div>
</div>
